<div class="ui fluid accordion" id="blog-filter">
    {% for category in site.categories %}
    <div class="title filter" data-filter=".{{ category | first }}">
        <i class="dropdown icon"></i>
        <h6 style="display:inline-block; text-transform: capitalize;">{{ category | first }}</h6>
    </div>
    <div class="content inner">
        {% for posts in category %} {% for post in posts %} {% if post.url %}
        <h6><a class="header" href="/pixyll/{{ post.url }}">{{ post.title }}</a></h6>
        <div class="description" style="margin-top:-10px;">{{ post.date | date: "%b %-d, %Y" }}</div>
        {% endif %} {% endfor %} {% endfor %}
    </div>
    {% endfor %}
</div>