<div class="ui right sidebar vertical menu">
    <div class="sidebar-container">
        <a class="green item" href="{{ site.baseurl }}/">
            <i class="home icon"></i>Home
        </a>
        <a class="item" href="#">
            <i class="video envelope icon"></i>Contact
        </a>
      
        <div class="ui horizontal divider">
            <h6>Most Recent</h6></div>
        <div class="ui list">
            {% for post in site.posts limit:5 %}
            <div class="item">
                <div class="content">
                    <h6><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h6>
                    <div class="description">{{ post.date | date: "%b %-d, %Y" }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="ui horizontal divider">
            <h6>Categories</h6>
        </div>
        {% include blog-filter.html %}
        <ul class="list-horizontal">
            <li>
                <a href="#">
                    <i class="github icon"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="medium icon"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="instagram icon"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="twitter icon"></i>
                </a>
            </li>
        </ul>
    </div>
</div>