<div class="ui right sidebar vertical menu">
    <div class="sidebar-container">
        <a class="green item" href="/pixyll/">
            <i class="home blue icon"></i>Home
        </a>
        <a class="item" href="#">
            <i class="video envelope blue icon"></i>Contact
        </a>
        <div class="ui horizontal divider">
            <h6>Categories</h6>
        </div>
        {% include blog-filter.html %}
        <div class="ui horizontal divider"><h6>Most Popular</h6></div>
    </div>
</div>