<!DOCTYPE html>
<html>
{% include head.html %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<body class="site{% if site.animated %} animated fade-in-down{% endif %}">
    {% if site.facebook_comments %}
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId={{ site.facebook_appid }}";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    {% endif %}
    <div class="scroll-title">
         <p>Currently Reading:</p>
        <h2>{{ page.title }}</h2>
        <div class="post-meta">{{ page.date | date: site.date_format }}</div>
        {% assign minutes = content | strip_html | number_of_words | divided_by: 180 %} {% if minutes == 0 %} {% assign minutes = 1 %} {% endif %}
         <span class="post-meta small">
  {% if page.minutes %}
    {{ page.minutes }} {{ site.text.post.minute_read }}
  {% else %}
    {{ minutes }} {{ site.text.post.minute_read }}
  {% endif %}
  </span>
          <section style="margin-top: 100px;">
        {% if page.previous %}
            <a class="ui mini inverted button" href="{{ site.baseurl }}{{ page.previous.url }}"><i class="left arrow icon"></i>Previous Post</a> {% endif %} {% if page.next %}
            <a class="ui mini inverted button" href="{{ site.baseurl }}{{ page.next.url }}"><i class="right arrow icon"></i>Next Post</a> {% endif %}
        </section>
    </div>
    {% include sidebar.html %}
    <div class="pusher" id="dimmer">
        <div class="flex-wrap">
            {% if page.thumbnail-image %}
            <div class="left-sidebar" style="background-image: url({{page.featured-image}}); background-size:cover; background-position:center;">
                <div class="overlay">
                    {% else %}
                    <div class="left-sidebar" style="background: url(http://upload.wikimedia.org/wikipedia/commons/d/dd/Muybridge_race_horse_animated.gif); background-size: cover;">
                        <div class="overlay">
                            {% endif %}
                        </div>
                    </div>
                    <div class="site-wrap">
                        <div class="post p2 p-responsive wrap" role="main">
                            <span class="burgWrapper" href="##" style="cursor:pointer;">
                    <div class="burg"></div>
                </span>
                            <div class="measure">
                                {{ content }}
                            </div>
                        </div>
                    </div>
                    {% include footer.html %}
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
                    <script>
                    $(document).ready(function() {
                        $('#blog-filter').accordion();

                        $('.burgWrapper, footer').on('click', function() {
                            $('.ui.sidebar').sidebar('toggle');
                            $('.burg').toggleClass('activeBurg');
                        });

                        $('.ui.sidebar').sidebar({
                            onHide: function() {
                                $('.burg').toggleClass('activeBurg');
                            }
                        });
                    });
                    </script>
                </div>
            </div>
</body>

</html>
